[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
black = "*"
boto3 = ">=1.17.0"
botocore = ">= 1.20.0"
causalml = "*"
flake8 = "*"
graphviz = "==0.17"
ipykernel = "*"
isort = "*"
jupyterlab = "*"
keras = "*"
lifelines = "==0.26.3"
Lifetimes = "==0.11.3"
matplotlib = "*"
nbqa = "*"
networkx = "*"
numpy = "*"
openpyxl = "==3.0.9"
orbit-ml = {git = "https://github.com/uber/orbit.git", editable=true}
pandas = "*"
prophet = "==1.0.1"
pygraphviz = "==1.7"
pymc = "==4.0.0b6"
pystan = "==2.19.1.1"
seaborn = "==0.11.2"
scikit-learn = "*"
scikit-uplift = "*"
scipy = "*"
shap = "*"
sktime = "*"
snowflake-sqlalchemy = " ==1.2.4"
statsmodels = "*"
pycausalimpact = "==0.1.1"
tensorflow = "*"
tensorflow-probability = "*"
torch = "*"
xgboost = "*"
mkl = {version = "*", sys_platform = "== 'darwin'"}
intel-openmp = {version = "*", sys_platform = "== 'darwin'"}
tbb = {version = "*", sys_platform = "== 'darwin'"}

[requires]
python_version = "3.8"